@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Neucha", sans-serif;
}

body{
    background-color: #1D1E2C;
}

header{
    background-color: #838295;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px #838295;
}

header h2{
    color: #DDBDD5;
    font-size: 20px;
    margin-top: 10px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box, .boxWith{
    margin: 10px;
    padding: 30px;
    background-color: #AC9FBB;
    border-radius: 20px;
    width: 70%;
}

h3{
    font-size: 25px;
    background-color: #DDBDD5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 40%;
    border-radius: 10px;
    margin: 10px auto;
}

.box1{
    margin: 10px;
}

.boxWith{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxInside{
    background-color: #EAD4E1;
    width: 80%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    border-radius: 20px;
}

.box2{
    margin: 10px auto;
    font-size: 25px;
}

.boxWith ul{
    background-color: #F1E0E7;
    padding: 10px 25px;
    border-radius: 10px;
    margin: 10px 0;
}